:root {
  --hamburger-colour: #000000;
}

.hamburger {
  display: block;
  float: right;
  top: 0;
  right: 0;
  position: relative;
  width: 30px;
}

.hamburger:before,
.hamburger:after {
  background-color: var(--hamburger-colour);
  content: '';
  display: block;
  height: 2px;
  transition: all 200ms ease-in-out;
}

.hamburger:before {
  box-shadow: 0 10px 0 var(--hamburger-colour);
  margin-bottom: 18px;
}

.hamburger--active:before {
  box-shadow: 0 0 0 var(--hamburger-colour);
  transform: translateY(10px) rotate(45deg);
}
.hamburger--active:after {
  transform: translateY(-10px) rotate(-45deg);
}
